* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid;
    color-scheme: light dark;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    --bg-color: #01121a;
    --color-titles: #099396;
    --color-main-titles: #00ffff;
    --text-color: #ffffff;
    --links-color: #00ffff;
    --bg-header: #01121a;
    --color-hover-and-nav: #005f73;

}

body {
    background-color: var(--bg-color);
    color: var(--text-color)
} 


hr{
    border-color: var(--text-color);
    width: 80%;
    margin: 0 auto;
}

[class*=title]:not(.header__title){
    color: var(--color-titles);
}