
.header{
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-wrap: wrap;
    padding: 3em;
    min-height: 100vh;
    background-image: radial-gradient(transparent, var(--primary-color)), url(/public/images/atom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header__title{
    font-size: 5rem;
    text-shadow: 0 0 10px var(--primary-color);
    color: var(--secondary-color);
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    flex-grow: 1;
}

.header__container span{
    text-shadow: 0 0 10px var(--primary-color);
    font-weight: bolder;
    font-size: 2.5em;
}

.header__container-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.header__link{
    --dimensions: 4.5em;
    height: var(--dimensions);
    width: var(--dimensions);
    filter: drop-shadow(0 0 5px);
    color: currentColor;
    transition: var(--transition);
}

.header__link:hover{
    color: var(--secondary-color);
}

@media (max-width: 850px){
    .header__title{
        font-size: 3em;
    }

    .header__container span{
        font-size: 1.5em;
    }

    .header__link{
        --dimensions: 4em;
    }
}

