@import url(global-styles.css);

:root{
    --border: 1px solid;
    --color-hover-and-nav: #005f73;
    --box-shadow: 10px 10px 0px var(--color-hover-and-nav);
    --transition: .4s;
    --height-bar: 8em;
}

html{
    min-height: 100vh;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    &::selection{
        background-color: #fff;
        color: #009ee8;
    }
}   

/* --------------------- header styles--------------------------- */

/* .header{
    display: flex;
    flex-direction: column;
    gap: .5em;
    flex-wrap: wrap;
    padding: 1em 3em;
    height: 100vh;
    background-image: radial-gradient(transparent, #01121a), url(/public/images/atom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.header__title{
    font-size: 5rem;
    text-shadow: 0 0 10px black;
    color: var(--cyan);
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.header__container span{
    text-shadow: 0 0 5px var(--cyan);
    font-size: 2.5em;
}

.header__container-icons{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.header__link{
    --dimensions: 4.5em;
    height: var(--dimensions);
    width: var(--dimensions);
    filter: drop-shadow(0 0 5px);
    color: currentColor;
    transition: var(--transition);
}

.header__link:hover{
    color: var(--cyan);
} */

/* ---------------------bar styles--------------------------- */

.main-bar{
    height: var(--height-bar);
    padding: 1em;
    background-image: linear-gradient(to top, transparent ,  var(--color-hover-and-nav) );
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: sticky;
    top: 0%;
    backdrop-filter: blur(10px);
}

.main-bar__container{
    border-radius: 100%;
    overflow: hidden;
    outline: .5em solid var(--color-hover-and-nav);
}

.main-bar__image{
    max-height: 100%;
    width: auto;
}

.main-menu{
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.main-menu__item{
    padding: 0 .3em;
    margin: .3em 0;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}

.main-menu__item::after{
    content: '';
    background-color: var(--color-hover-and-nav);
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    z-index: -1;
    transition: var(--transition);
}

.main-menu__item:hover::after{
    height: 100%;
}

.main-menu__item:hover{
    box-shadow: var(--box-shadow);
}

.main-menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--links-color);
}

.main-content{
    margin: 1em 0;
}

/* --------------------- section styles--------------------------- */


[class*=title]{
    margin-bottom: .5em;
}

[class$='section']{
    display: flex;
    flex-direction: column;
    gap: 1em;  
    padding: 1em 2em;
    margin: 1em 0;
    /* padding-top: calc(var(--height-bar) + 2em); */
    scroll-margin-top: calc(var(--height-bar) + 2em);
}


.projects-section__menu{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;
}

.projects-section__item{
    border-radius: 100%;
    overflow: hidden;
    --dimensions: 8em;
    width:  var(--dimensions);
    height: var(--dimensions);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-section__link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: currentColor;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------- footer styles--------------------------- */


.footer{
    text-align: center;
    padding: 1em;
    display: grid;
    place-items: center;
    gap: 1em;
}

.contact-section{
    width: 100%;
}

.projects-section__item:hover{
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

