:root{
    --border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
}

body{
    height: 100%;
}

.header{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 1em;
}

.main-navigation-bar{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.main-menu{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-menu__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    padding: 0 .3em;
    height: 40%;
}

.main-menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: currentColor;
}

.main-menu__item:hover{
    box-shadow: 5px 5px 0px ;
    transition: .2s;
}

.main-content{
    margin: 1em 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1em;
}

[class$='section']{
    display: flex;
    flex-direction: column;
    gap: 1em;  
    padding: .5em;
    margin: 1em 0;
}

[class*=title]{
    margin-bottom: .5em;
}

.projects-section__menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 80%;
    list-style: none;
}
.projects-section__item{
    border-radius: 100%;
    overflow: hidden;
    --dimensions: 8em;
    width:  var(--dimensions);
    height: var(--dimensions);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-section__item:hover{
    box-shadow: 5px 5px 0px;
    transition: .2s;
}

.projects-section__link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: currentColor;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    text-align: center;
    padding: 1em;
    display: grid;
    place-items: center;
    gap: 1em;
}

.contact-section{
    width: 100%;
}
.contact-section__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
}

.contact-section__link{
    color: currentColor;
     --dimensions: 8em;
    width:  var(--dimensions);
    height: var(--dimensions);
    border-radius: 100%;
    background-size: auto;
}
.contact-section__link:hover{
    box-shadow: 5px 5px 0px;
    transition: .2s;
}

.contact-section__link--github{
    background-image: url(/public/icons/github-icon.svg);

}

.contact-section__link--gmail{
    background-image: url(/public/icons/mail-icon.svg);
}


