@import url(global-styles.css);

:root{
    --height-bar: 8em;
}

html{
    scroll-behavior: smooth;
}

/* ---------------------bar styles--------------------------- */

.main-bar{
    height: var(--height-bar);
    padding: 1em;
    background-image: linear-gradient(to top, transparent ,  var(--interaction-color) );
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: sticky;
    top: 0%;
    backdrop-filter: blur(10px);
}

.main-bar__container{
    border-radius: 100%;
    overflow: hidden;
    outline: .5em solid var(--interaction-color);
}

.main-bar__image{
    max-height: 100%;
    width: auto;
}

.main-menu{
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.main-menu__item{
    padding: 0 .3em;
    margin: .3em 0;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
}

.main-menu__item::after{
    content: '';
    background-color: var(--interaction-color);
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    z-index: -1;
    transition: var(--transition);
}

.main-menu__item:hover::after{
    height: 100%;
}

.main-menu__item:hover{
    box-shadow: var(--box-shadow);
}

.main-menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--secondary-color);
}


/* --------------------- section styles--------------------------- */

[class$='section']{
    display: flex;
    flex-direction: column;
    gap: 1em;  
    padding: 1em 2em;
    margin: 1em 0;
    scroll-margin-top: calc(var(--height-bar) + 2em);
}



