:root{
    --width-card: 18em;
    --height-card: 18em;
}


.main-content{
    margin: 1em 0;
}



.about-section__description{
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 0 1em;
}


.projects-section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width-card), 1fr));
    justify-items: center;
    justify-content: center;
    gap: 2em;
}

.projects-section__card{
    background-color: var(--interaction-color);
    box-shadow: inset 0 0 5em var(--primary-color);
    border-radius: var(--radius);
    position: relative;
    padding: .8em;
    width:  var(--width-card);
    min-height: var(--height-card);
    text-align: center;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5em;
    transition: var(--transition);
}

.projects-section__card:hover{
    box-shadow: inset 0 0 1em var(--primary-color), var(--box-shadow);
    transition: var(--transition);
    transform: translateY(-10px);
    
    .projects-section__description{
        /* color: var(--primary-color); */
        text-shadow: 0 0 5px var(--secondary-color);
        transition: var(--transition);
    }
}

.projects-section__img{
    border-radius: var(--radius);
    max-width: 90%;
    max-height: 50%;
}

.projects-section__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-section__title-card{
    color: var(--secondary-color);
    /* text-shadow: 0 0 5px var(--primary-color); */
    font-size: 1.5em;
}

.projects-section__description{
    text-shadow: 0 0 5px var(--primary-color);
    font-style: italic;
    font-weight: bold;
}


.projects-section__link{
    position: absolute;
    inset: 0;
}
