:root{
    --width-card: 12em;
}


.main-content{
    margin: 1em 0;
}

.projects-section__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width-card), 1fr));
    justify-items: center;
    justify-content: center;
    gap: 2em;
    list-style: none;
}

.projects-section__card{
    border-radius: var(--radius);
    background-color: var(--tertiary-color);
    transition: var(--transition);
    position: relative;
    margin: 0 1em;
    width:  var(--width-card);
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-section__card:hover{
    box-shadow: var(--box-shadow);
    transform: translateY(-10px);
}


.projects-section__link{
    position: absolute;
    inset: 0;
}
