@import url(global-styles.css);

:root{
     --border: 1px solid;
}
    
html{
    min-height: 100vh;

}

body{
    height: 100%;
}


.header{
    padding: 3em 1.5em;
    display: flex;
    align-items: center;
}

.header__title{
    font-size: 3em;
    flex-grow: 1;
    text-align: center;
    color: var(--color-main-titles);
}

.header__link{
    border-radius: 100%;
    --dimensions: 2.5em;
    width: var(--dimensions);
    height: var(--dimensions);
    background-image: url(/public/icons/arrow-back.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #444;
    transition: .2s;
}

.header__link:hover{
    transform: scale(1.1);
    background-color: var(--color-hover-and-nav);
}

.main-content{
    padding: 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
    grid-gap: 2em;
}

.main-gallery__container{
    border-radius: 1em;
    height: fit-content;
    background-color: hsl(180, 20%, 50%);
    color: hsl(180, 100%, 10%); 
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.main-gallery__img{
    border-radius: 1em;
    transition: .3s;
}

.main-gallery__img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px var(--color-hover-and-nav);
}

.footer{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

