@import url(global-styles.css);

:root{
     --border: 1px solid;
     --container-width: 14em;
}

.header{
    padding: 3em 1.5em;
    display: flex;
    align-items: center;
}

.header__title{
    font-size: 3em;
    flex-grow: 1;
    text-align: center;
    color: var(--secondary-color);
}

.header__link{
    border-radius: 100%;
    --dimensions: 2.5em;
    width: var(--dimensions);
    height: var(--dimensions);
    background-image: url(/public/icons/arrow-back.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: var(--tertiary-color);
    transition: var(--transition);
}

.header__link:hover{
    transform: scale(1.1);
    background-color: var(--interaction-color);
}

.main-content{
    padding: 1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--container-width), 1fr) );
    grid-gap: 2em;
}

.main-gallery__container{
    border-radius: 1em;
    background-color: hsl(180, 20%, 50%);
    color: hsl(180, 100%, 10%); 
    height: fit-content;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1.5em;
}

.main-gallery__img{
    max-width: 100%;
    max-height: 50%;
    border-radius: 1em;
    transition: var(--transition);
}

.main-gallery__img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px var(--interaction-color);
}

.footer{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

