<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a pets page">
    <link rel="stylesheet" href="/src/styles/global-styles.css">
    <link rel="stylesheet" href="/src/styles/pets.css">
    <title>Pets</title>
</head>
<body>
    <!-- the header contains a button for go to the main page again and a title -->
    <header class="header">
        <a href="/index.html" class="header__link"></a>
        <h1 class="header__title">Pets</h1>        
    </header>
    <hr>
    <!-- the main content is a gallery of pets -->
    <main class="main-content">
        <!-- the gallery title -->
        <h2 class="title">Here are the pets</h2>
        <section class="main-gallery">
            <!-- each container contains a image and a litle description on an article -->
            <article class="main-gallery__container">
                <img src="/public/images/cat.jpg" alt="Cat image" class="main-gallery__img">
                <div class="main-gallery__article">
                    <p class="main-gallery__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit.  </p>
                </div>
            </article>
            <article class="main-gallery__container">
                <img src="/public/images/dog.jpg" alt="Dog image" class="main-gallery__img">
                <div class="main-gallery__article">
                    <p class="main-gallery__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque autem esse molestiae eos nobis magni</p>
                </div>
            </article>
            <article class="main-gallery__container">
                <img src="/public/images/rabbit.jpg" alt="Rabbit image" class="main-gallery__img">
                <div class="main-gallery__article">
                    <p class="main-gallery__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </article>     
 

        </section>
    </main>
    <hr>
    <footer class="footer">
        <b>
            <i>Riwi 2026</i>
        </b>
    </footer>

    <script src="../src/scripts/index.js"></script>
</body>
</html>